@import '@/app/styles/helpers/colors.scss';
@import '@/app/styles/helpers/vars.scss';
@import '@/app/styles/helpers/mixins.scss';

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.th,
.td {
  @include table-border;
  padding: $padding-xsm;
}

.th {
  background-color: $table-bg-color;
}
.h2 {
  font-size: $font-size-regular;
}
