@import '@/app/styles/helpers/colors.scss';
@import '@/app/styles/helpers/vars.scss';

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.th, .td {
  border: 1px solid #ddd;
  padding: 0.312rem;
}

.th {
  background-color: $table-bg-color;
}

.table-heading{
  font-size: $font-size-regular
}

