@import '@/app/styles/helpers/colors.scss';
@import '@/app/styles/helpers/vars.scss';
@import '@/app/styles/helpers/mixins.scss';

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $margin-bottom-sm;
}

.th, .td {
  @include table-border;
  padding: $padding-xxsm;
}

.th {
  background-color: $table-bg-color;
}

.table-heading{
  font-size: $font-size-regular
}
.delete {
  cursor: pointer;
  text-decoration: underline;
  color: red;
  &:hover {
    color: darken(red, 10%);
  }
}
