@import 'vars';
// Mixin for flex center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) { @content; }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) { @content; }
  }
}

// Buttons
@mixin button-regular {
  padding: 0.5rem 1rem;
  font-size: $font-size-regular;
  border-radius: $border-radius;
  background-color: $color-primary;
  color: $color-text-light;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 50%;
  &:hover {
    background-color: $color-primary-hover;
  }
  &:disabled {
    background-color: $color-disabled;
    cursor: not-allowed;
  }
}

@mixin quickViewButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: $xxsm-border-radius;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

// Borders

@mixin table-border {
  border: 0.0625rem solid $table-line-color;
}
@mixin login-form-border {
  border: 0.062rem solid $login-form-line-color;
}
