// Define font variables
$font-stack: 'Helvetica Neue', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Define breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// text fonts
$font-size-regular: 1rem;

// Цвета
$color-primary: #0070f3;
$color-primary-hover: #005bb5;
$color-text-light: #ffffff;
$color-disabled: #ccc;

// Скругления
$border-radius: 12px;
