// Define font variables
$font-stack: 'Helvetica Neue', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Define breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// text fonts
$font-size-title: 1.5rem;
$font-size-regular: 1rem;
$font-size-small:0.875rem;

// Скругления
$border-radius: 12px;
$small-border-radius: 4px;
$medium-border-radius: 8px;
$xxsm-border-radius: 0.5rem;

// Padding
$padding-xxsm: 0.312rem;
$padding-xsm: 0.5rem;
$padding-sm: 0.75rem;
$padding-md: 1rem;

// Margins
$margin-bottom-sm: 1rem;
$margin-top-sm: 1rem;
$margin-top-login-notification-negative: -0.75rem;
