@import '@/app/styles/helpers/vars.scss';
@import '@/app/styles/helpers/colors.scss';
@import '@/app/styles/helpers/mixins.scss';

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 3rem;
  background-color: $login-form-bg-color;
  border-radius: $medium-border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 10rem auto;
}

.loginTitle {
  margin-bottom: 1.5rem;
  font-size: $font-size-title;
  color: $font-color;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  @include login-form-border;
  border-radius: $small-border-radius;
  font-size: $font-size-regular;
  box-sizing: border-box;
  width: 100%;
}

.input:disabled {
  background-color: $color-disabled;
}

.error-message {
  color: $warning-color;
  font-size: $font-size-small;
  margin-top: -0.75rem;
  margin-bottom: 1rem;
}

.submitButton {
  margin-top: 1rem;
  width: 100%;
}
