@import '@/app/styles/helpers/vars.scss';
@import '@/app/styles/helpers/colors.scss';
@import '@/app/styles/helpers/mixins.scss';

.loginContainer {
  @include login-container;
}

.loginTitle {
  margin-bottom: $margin-bottom-sm;
  font-size: $font-size-title;
  color: $font-color;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  @include input-styles;
}

.input:disabled {
  background-color: $color-disabled;
}

.error-message {
  color: $warning-color;
  font-size: $font-size-small;
  margin-top: $margin-top-login-notification-negative;
  margin-bottom: $margin-top-sm;
}

.submitButton {
  margin-top: $margin-top-sm;
  width: 100%;
}
